<template>
  <div class="hsg-app">
    <div class="title">
      Hashtag Generator
    </div>
    <div class="container">
      <aside>
        <div class="for-copy">
          <span>
          {{comment}}
          </span>
        </div>
        <div class="btn-container">
          <button v-clipboard:copy="comment">Copiar</button>
        </div>
      </aside>
      <main>
        <!-- Camara -->
        <div class="block">
          <h2>Cámara</h2>
          <div class="options">
            <button class="option" :class="{'active': cameraSelected == 'canonaae1'}" @click="cameraSelected='canonaae1'; cameraTypeSelected='analog'">Canon AE1</button>
            <button class="option" :class="{'active': cameraSelected == 'olimpusinfinity76'}" @click="cameraSelected='olimpusinfinity76'; cameraTypeSelected='analog'">Olimpus Infinity 76</button>
            <button class="option" :class="{'active': cameraSelected == 'yashicamg1'}" @click="cameraSelected='yashicamg1'; cameraTypeSelected='analog'">Yashica MG1</button>
            <button class="option" :class="{'active': cameraSelected == 'sonya7ii'}" @click="cameraSelected='sonya7ii'; cameraTypeSelected='digital'">Sony a7II</button>
            <button class="option" :class="{'active': cameraSelected == 'sonya6000'}" @click="cameraSelected='sonya6000'; cameraTypeSelected='digital'">Sony a6000</button>
            <button class="option" :class="{'active': cameraSelected == 'iphone11pro'}" @click="cameraSelected='iphone11pro'; cameraTypeSelected='digital'">Iphone 11 pro</button>
          </div>
        </div>

        <!-- Lente -->
        <div class="block">
          <h2>Lente</h2>
          <div class="options">
            <button class="option" :class="{'active': lensSelected == 'canon5018'}" @click="lensSelected='canon5018'">50mm f1.8</button>
            <button class="option" :class="{'active': lensSelected == 'sigma2470'}" @click="lensSelected='sigma2470'">Sigma Art 24-70mm f2.8</button>
            <button class="option" :class="{'active': lensSelected == 'sony5018'}" @click="lensSelected='sony5018'">Sony 50mm f1.8</button>
            <button class="option" :class="{'active': lensSelected == '7artisans35mm'}" @click="lensSelected='7artisans35mm'">7artisans 35mm f1.2</button>
            <button class="option" :class="{'active': lensSelected == 'None'}" @click="lensSelected='None'">None</button>
          </div>
        </div>

        <!-- Tipo de Rollo -->
        <div class="block" v-if="cameraTypeSelected == 'analog'">
          <h2>Tipo de rollo</h2>
          <div class="options">
            <button class="option" :class="{'active': tipeRollSelected == 'color'}" @click="tipeRollSelected='color'">Color</button>
            <button class="option" :class="{'active': tipeRollSelected == 'bnw'}" @click="tipeRollSelected='bnw'">Blanco y Negro</button>
          </div>
        </div>

        <!-- Rollo -->
        <div class="block" v-if="cameraTypeSelected == 'analog'">
          <h2>Tipo de rollo</h2>
          <div class="options color-rolls" v-if="tipeRollSelected == 'color' || tipeRollSelected == ''">
            <button class="option" :class="{'active': rollSelected == 'portra160'}" @click="rollSelected='portra160'">Portra 160</button>
            <button class="option" :class="{'active': rollSelected == 'portra400'}" @click="rollSelected='portra400'">Portra 400</button>
            <button class="option" :class="{'active': rollSelected == 'gold200'}" @click="rollSelected='gold200'">Gold 200</button>
            <button class="option" :class="{'active': rollSelected == 'colorplus200'}" @click="rollSelected='colorplus200'">Color Plus 200</button>
            <button class="option" :class="{'active': rollSelected == 'fujic200'}" @click="rollSelected='fujic200'">Fuji C200</button>
            <button class="option" :class="{'active': rollSelected == 'superia400'}" @click="rollSelected='superia400'">Superia 400</button>
            <button class="option" :class="{'active': rollSelected == 'proimage100'}" @click="rollSelected='proimage100'">Pro Image 100</button>
            <button class="option" :class="{'active': rollSelected == 'cinestill800t'}" @click="rollSelected='cinestill800t'">Cinestill 800T</button>
            <button class="option" :class="{'active': rollSelected == 'cinestill50d'}" @click="rollSelected='cinestill50d'">Cinestill 50D</button>
            <button class="option" :class="{'active': rollSelected == 'kodak50d'}" @click="rollSelected='kodak50d'">Kodak 50D</button>
            <button class="option" :class="{'active': rollSelected == 'kodak250d'}" @click="rollSelected='kodak250d'">Kodak 250D</button>
            <button class="option" :class="{'active': rollSelected == 'apollo200'}" @click="rollSelected='apollo200'">Apollo 200</button>
            <button class="option" :class="{'active': rollSelected == 'bubblegum200'}" @click="rollSelected='bubblegum200'">Bubblegum 200</button>
            <button class="option" :class="{'active': rollSelected == 'pacific200'}" @click="rollSelected='pacific200'">Pacific 200</button>
            <button class="option" :class="{'active': rollSelected == 'ektar100'}" @click="rollSelected='ektar100'">Ektar 100</button>
          </div>
          <div class="options bnw-rolls" v-if="tipeRollSelected == 'bnw' || tipeRollSelected == ''">
            <button class="option" :class="{'active': rollSelected == 'ilfordhp5plus'}" @click="rollSelected='ilfordhp5plus'">Ilford HP5 Plus</button>
            <button class="option" :class="{'active': rollSelected == 'ilfordfp4plus'}" @click="rollSelected='ilfordfp4plus'">Ilford FP4 Plus</button>
            <button class="option" :class="{'active': rollSelected == 'ilforddelta100'}" @click="rollSelected='ilforddelta100'">Ilford Delta 100</button>
            <button class="option" :class="{'active': rollSelected == 'ilforddelta400'}" @click="rollSelected='ilforddelta400'">Ilford Delta 400</button>
            <button class="option" :class="{'active': rollSelected == 'ilfordpanfplus50'}" @click="rollSelected='ilfordpanfplus50'">Ilford Panf Plus 50</button>
            <button class="option" :class="{'active': rollSelected == 'ilfordpan100'}" @click="rollSelected='ilfordpan100'">Ilford Pan 100</button>
            <button class="option" :class="{'active': rollSelected == 'ilfordpan400'}" @click="rollSelected='ilfordpan400'">Ilford Pan 400</button>
            <button class="option" :class="{'active': rollSelected == 'kodak400tmax'}" @click="rollSelected='kodak400tmax'">Kodak 400Tmax</button>
            <button class="option" :class="{'active': rollSelected == 'kodak400tx'}" @click="rollSelected='kodak400tx'">Kodak 400TX</button>
            <button class="option" :class="{'active': rollSelected == 'aristaedu100'}" @click="rollSelected='aristaedu100'">Arista Edu 100</button>
            <button class="option" :class="{'active': rollSelected == 'aristaedu400'}" @click="rollSelected='aristaedu400'">Arista Edu 400</button>
            <button class="option" :class="{'active': rollSelected == 'fomapan100'}" @click="rollSelected='fomapan100'">Fomapan 100</button>
            <button class="option" :class="{'active': rollSelected == 'fomapan200'}" @click="rollSelected='fomapan200'">Fomapan 200</button>
            <button class="option" :class="{'active': rollSelected == 'fomapan400'}" @click="rollSelected='fomapan400'">Fomapan 400</button>
            <button class="option" :class="{'active': rollSelected == 'kentmere100'}" @click="rollSelected='kentmere100'">Kentmere 100</button>
            <button class="option" :class="{'active': rollSelected == 'kentmere400'}" @click="rollSelected='kentmere400'">Kentmere 400</button>
          </div>
        </div>

        <!-- Revelado -->
        <div class="block" v-if="cameraTypeSelected == 'analog'">
          <h2>Revelado</h2>
          <div class="options">
            <button class="option" :class="{'active': developerSelected == 'cinestillc41'}" @click="developerSelected='cinestillc41'">Cinestill C41</button>
            <button class="option" :class="{'active': developerSelected == 'fanalogac41'}" @click="developerSelected='fanalogac41'">Fanaloga C41</button>
            <button class="option" :class="{'active': developerSelected == 'jamarcad76'}" @click="developerSelected='jamarcad76'">Jamarca D76</button>
            <button class="option" :class="{'active': developerSelected == 'none'}" @click="developerSelected='none'">None</button>
            
          </div>
        </div>

        <!-- Ciudad -->
        <div class="block">
          <h2>Ciudad</h2>
          <div class="options">
            <button class="option" :class="{'active': citySelected == 'santiago'}" @click="citySelected='santiago'">Santiago</button>
            <button class="option" :class="{'active': citySelected == 'valparaiso'}" @click="citySelected='valparaiso'">Valparaiso</button>
            <button class="option" :class="{'active': citySelected == 'vinadelmar'}" @click="citySelected='vinadelmar'">Viña del Mar</button>
            <button class="option" :class="{'active': citySelected == 'antofagasta'}" @click="citySelected='antofagasta'">Antofagasta</button>
            <button class="option" :class="{'active': citySelected == 'puertomont'}" @click="citySelected='puertomont'">Puerto Mont</button>
            <button class="option" :class="{'active': citySelected == 'hornopiren'}" @click="citySelected='hornopiren'">Hornopiren</button>
            <button class="option" :class="{'active': citySelected == 'chiloe'}" @click="citySelected='chiloe'">Chilloe</button>
            <button class="option" :class="{'active': citySelected == 'nuevayork'}" @click="citySelected='nuevayork'">Nueva York</button>
            <button class="option" :class="{'active': citySelected == 'none'}" @click="citySelected='none'">None</button>
          </div>
        </div>

        <!-- Lugar -->
        <div class="block">
          <h2>Lugar</h2>
          <div class="options santiago" v-if="citySelected == 'santiago' || citySelected == ''">
            <button class="option" :class="{'active': placeSelected == 'lastarria'}" @click="placeSelected='lastarria'">Lastarria</button>
            <button class="option" :class="{'active': placeSelected == 'centro'}" @click="placeSelected='centro'">Centro</button>
            <button class="option" :class="{'active': placeSelected == 'providencia'}" @click="placeSelected='providencia'">Providencia</button>
            <button class="option" :class="{'active': placeSelected == 'metro'}" @click="placeSelected='metro'">Metro</button>
            <button class="option" :class="{'active': placeSelected == 'none'}" @click="placeSelected='none'">None</button>
          </div>
          <div class="options nuevayork" v-if="citySelected == 'nuevayork' || citySelected == ''">
            <button class="option" :class="{'active': placeSelected == 'brokling'}" @click="placeSelected='brokling'">Brokling</button>
            <button class="option" :class="{'active': placeSelected == 'manhatan'}" @click="placeSelected='manhatan'">Manhatan</button>
            <button class="option" :class="{'active': placeSelected == 'subway'}" @click="placeSelected='subway'">Subway</button>
            <button class="option" :class="{'active': placeSelected == 'coneyisland'}" @click="placeSelected='coneyisland'">Coney Island</button>
            <button class="option" :class="{'active': placeSelected == 'centralpark'}" @click="placeSelected='centralpark'">Central Park</button>
            <button class="option" :class="{'active': placeSelected == 'timesquare'}" @click="placeSelected='timesquare'">Timesquare</button>
            <button class="option" :class="{'active': placeSelected == 'chinatown'}" @click="placeSelected='chinatown'">Chinatown</button>
            <button class="option" :class="{'active': placeSelected == 'littleitali'}" @click="placeSelected='littleitali'">Little Itali</button>
            <button class="option" :class="{'active': placeSelected == 'estatudelalibertad'}" @click="placeSelected='estatudelalibertad'">Estatua de la Libertad</button>
            <button class="option" :class="{'active': placeSelected == 'hellskitchen'}" @click="placeSelected='hellskitchen'">Hells Kitchen</button>
            <button class="option" :class="{'active': placeSelected == 'none'}" @click="placeSelected='none'">None</button>
          </div>
          <h4 v-if="nonePlace">Debes agregar la ciudad manualmente</h4>
        </div>
      </main>
    </div>
  </div>
</template>

<script>
export default {
  data() {
      return {
        cameraSelected:'',
        lensSelected: '',
        tipeRollSelected: '',
        rollSelected: '',
        developerSelected: '',
        citySelected: '',
        placeSelected: '',
        cameraTypeSelected: '',
        nonePlace: false
      }
  },
  computed:{
    comment:function(){

      var comment = '';
      var dots= `.......`;
      var film35= '#film #35mm #35mmfilm #shootfilm #filmisnotdeath #analogfilm #analogphotography ';
      var hashtags= '';

      switch (this.cameraSelected) {
        case 'canonaae1':
          comment += 'Canon AE1 ';
          hashtags += '#canon #canonae1 #canonphotography #canon_photos #canoncamera ';
          break;
        case 'olimpusinfinity76':
          comment += 'Olimpus Infinity 76 ';
          hashtags += '#olimpus #olimpusinfinity76 #olimpusphotography #olimpus_photos #olimpuscamera ';
          break;
        case 'yashicamg1':
          comment += 'Yashica MG1 ';
          hashtags += '#yashica #yashicamg1 #yashicaphotography #yashica_photos #yashicacamera ';
          break;
        case 'sonya7ii':
          comment += 'Sony a7II ';
          hashtags += '#sony #sonyalpha #sonya7ii #sonyphotography #sonya7 #sonyimages #sonycamera #sonyalpha7ii #sonyphoto #sonymirrorless #sony_photos ';
          break;
        case 'sonya6000':
          comment += 'Sony a6000 ';
          hashtags += '#sony #sonyalpha #sonya6000 #sonyphotography #sonyimages #sonycamera #sonyalpha6000 #sonyphoto #sonymirrorless #sony_photos ';
          break;
        case 'iphone11pro':
          comment += 'Iphone 11 Pro ';
          hashtags += '#iphone #iphone11pro #iphone_photo #iphonecamera #iphone11 ';
          break;
        default:
          break;
      }

      switch (this.lensSelected) {
        case 'canon5018':
          comment += '50mm f1.8 ';
          hashtags += '#50mmf18 #50mm #f18 #50mmf1.8 #canonlens #canon50mmf18 ';
          break;
        case 'sigma2470':
          comment += 'Sigma Art 24-70mm f2.8 ';
          hashtags += '#sigma #sigmaart #sigma24-70f28 #sigmaart2470f28 #sigmalens #sigmaartphoto #sigmaphotography #24-70mm #f28';
          break;
        case 'sony5018':
          comment += '50mm f1.8 ';
          hashtags += '#50mmf18 #50mm #f18 #50mmf1.8 #sonylens #sony50mmf18 ';
          break;
        case '7artisans35mm':
          comment += '7artisans 35mm f1.2 ';
          hashtags += '#35mmf12 #35mm #f12 #35mmf1.2 #7artisanslens #7artisans35mmf12 #7artisansphotography ';
          break;
        default:
          break;
      }

      switch (this.rollSelected) {
        case 'portra160':
          comment += '/ Portra 160 ';
          hashtags += '#kodak #kodakportra #kodakportra160 #portra160 #kodakphotography #kodakfilm ';
          hashtags += film35;
          break;
        case 'portra400':
          comment += '/ Portra 400 ';
          hashtags += '#kodak #kodakportra #kodakportra400 #portra400 #kodakphotography #kodakfilm ';
          hashtags += film35;
          break;
        case 'gold200':
          comment += '/ Kodak Gold 200 ';
          hashtags += '#kodak #kodakgold #kodakgold200 #gold200 #kodakphotography #kodakfilm ';
          hashtags += film35;
          break;
        case 'colorplus200':
          comment += '/ Kodak Colorplus 200 ';
          hashtags += '#kodak #kodakcolorplus #kodakcolorplus200 #colorplus200 #kodakphotography #kodakfilm ';
          hashtags += film35;
          break;
        case 'fujic200':
          comment += '/ Fuji C200 ';
          hashtags += '#fuji #fujifilm #fujic #fujifilmc200 #fujic200 #c200 #fujiphotography #fujifilm ';
          hashtags += film35;
          break;
        case 'superia400':
          comment += '/ Fuji Superia 400 ';
          hashtags += '#fuji #fujifilm #fujisuperia #fujifilmsuperia #fujisuperia400 #superia400 #fujiphotography #fujifilm ';
          hashtags += film35;
          break;
        case 'proimage100':
          comment += '/ Kodak Pro Image 100 ';
          hashtags += '#kodak #kodakproimage #kodakproimage100 #proimage100 #kodakphotography #kodakfilm ';
          hashtags += film35;
          break;
        case 'cinestill800t':
          comment += '/ Cinestill 800T ';
          hashtags += '#cinestill #cinestill800t #cinestillt #800t #cinestillphotography #cinestillfilm ';
          hashtags += film35;
          break;
        case 'cinestill50d':
          comment += '/ Cinestill 50D ';
          hashtags += '#cinestill #cinestill50d #cinestillt #50d #cinestillphotography #cinestillfilm ';
          hashtags += film35;
          break;
        case 'kodak50d':
          comment += '/ Kodak Vision 50D ';
          hashtags += '#kodak #kodakvision #kodakvision50d #vision50d #kodakphotography #kodakfilm #moviefilm #daylight #daylightfilm ';
          hashtags += film35;
          break;
        case 'kodak250d':
          comment += '/ Kodak Vision 250D ';
          hashtags += '#kodak #kodakvision #kodakvision250d #vision250d #kodakphotography #kodakfilm #moviefilm #daylight #daylightfilm ';
          hashtags += film35;
          break;
        case 'apollo200':
          comment += '/ Doublefilm Apollo 200 ';
          hashtags += '#doublefilm #dublefilmapollo #doublefilmapollo200 #apollo200 #doublefilmphotography #doublefilmfilm #moviefilm ';
          hashtags += film35;
          break;
        case 'bubblegum200':
          comment += '/ Doublefilm  Bubblegum 200 ';
          hashtags += '#doublefilm #dublefilmbublegum #doublefilmbublegum200 #bublegum200 #doublefilmphotography #doublefilmfilm #moviefilm ';
          hashtags += film35;
          break;
        case 'pacific200':
          comment += '/ Doublefilm Pacific 200 ';
          hashtags += '#doublefilm #dublefilmpacific #doublefilmpacific200 #pacific200 #doublefilmphotography #doublefilmfilm #moviefilm ';
          hashtags += film35;
          break;
        case 'ektar100':
          comment += '/ Ektar 100 ';
          hashtags += '#kodak #kodakektar #kodakektar100 #ektar160 #kodakphotography #kodakfilm ';
          hashtags += film35;
          break;
        case 'ilfordhp5plus':
          comment += '/ Ilford HP5+ ';
          hashtags += '#ilford #ilfordhp5+ #hp5+ #ilfordphotography #ilfordfilm ';
          hashtags += film35;
          break;
        case 'ilfordfp4plus':
          comment += '/ Ilford FP4+ ';
          hashtags += '#ilford #ilfordfp4+ #fp4+ #ilfordphotography #ilfordfilm ';
          hashtags += film35;
          break;
        case 'ilforddelta100':
          comment += '/ Ilford Delta 100 ';
          hashtags += '#ilford #ilforddelta #ilforddelta100 #delta100 #ilfordphotography #ilfordfilm ';
          hashtags += film35;
          break;
        case 'ilforddelta400':
          comment += '/ Ilford Delta 400 ';
          hashtags += '#ilford #ilforddelta #ilforddelta400 #delta400 #ilfordphotography #ilfordfilm ';
          hashtags += film35;
          break;
        case 'ilfordpanfplus50':
          comment += '/ Ilford Panf+ 50 ';
          hashtags += '#ilford #ilfordpanf+ #ilfordpanf50+ #panf+ #panf50+ #ilfordphotography #ilfordfilm ';
          hashtags += film35;
          break;
        case 'ilfordpan100':
          comment += '/ Ilford Pan 100 ';
          hashtags += '#ilford #ilfordpan #ilfordpan100 #pan100 #pan #ilfordphotography #ilfordfilm ';
          hashtags += film35;
          break;
        case 'ilfordpan400':
          comment += '/ Ilford Pan 400 ';
          hashtags += '#ilford #ilfordpan #ilfordpan400 #pan400 #pan #ilfordphotography #ilfordfilm ';
          hashtags += film35;
          break;
        case 'kodak400tmax':
          comment += '/ Kodak 400 Tmax ';
          hashtags += '#kodak #kodaktmax #koda400tmax #tmax400 #kodakphotography #kodakfilm ';
          hashtags += film35;
          break;
        case 'kodak400tx':
          comment += '/ Kodak 400Tx ';
          hashtags += '#kodak #kodaktx #koda400tx #tx400 #kodakphotography #kodakfilm ';
          hashtags += film35;
          break;
        case 'aristaedu100':
          comment += '/ Arista Edu 100 ';
          hashtags += '#arista #aristaedu #aristaedu100 #edu100 #aristaphotography #aristafilm ';
          hashtags += film35;
          break;
        case 'aristaedu400':
          comment += '/ Arista Edu 400 ';
          hashtags += '#arista #aristaedu #aristaedu400 #edu400 #aristaphotography #aristafilm ';
          hashtags += film35;
          break;
        case 'fomapan100':
          comment += '/ Fomapan 100 ';
          hashtags += '#fomapan #fomapan100 #fomapanphotography #fomapanfilm ';
          hashtags += film35;
          break;
        case 'fomapan200':
          comment += '/ Fomapan 200 ';
          hashtags += '#fomapan #fomapan200 #fomapanphotography #fomapanfilm ';
          hashtags += film35;
          break;
        case 'fomapan400':
          comment += '/ Fomapan 400 ';
          hashtags += '#fomapan #fomapan400 #fomapanphotography #fomapanfilm ';
          hashtags += film35;
          break;
        case 'kentmere100':
          comment += '/ Kentmere 100 ';
          hashtags += '#kentmere #kentmere100 #kentmerephotography #kentmerefilm ';
          hashtags += film35;
          break;
        case 'kentmere400':
          comment += '/ Kentmere 400 ';
          hashtags += '#kentmere #kentmere400 #kentmerephotography #kentmerefilm ';
          hashtags += film35;
          break;
        default:
          break;
      }

      switch (this.developerSelected) {
        case 'cinestillc41':
          hashtags += '#cinestill #cinestillc41 #cinestillc41kit #kitc41 #developedinhome #homedevelop #colorfilm #filmc41 ';
          break;
        case 'fanalogac41':
          hashtags += '#fanaloga #fanalogac41 #fanalogac41kit #kitc41 #developedinhome #homedevelop #colorfilm #filmc41 ';
          break;
        case 'jamarcad76':
          hashtags += '#jamarca #d76 #jamarcad76kit #kitd76 #developedinhome #homedevelop #bnwfilm #filmd76 #blancoynegro #blackandwhite #blackandwhitefilm ';
          break;
        default:
          break;
      }

      switch (this.citySelected) {
        case 'santiago':
          hashtags += '#santiago #santiagocity #santiagoinsta #santiagopo #santiago #chile #instachile #chilegram #santiagodechile';
          break;
        case 'valparaiso':
          hashtags += '#valparaiso #valpo #ciudadpuerto #instavalpo ';
          break;
        case 'vinadelmar':
          hashtags += '#viñadelmar #viña #instaviña ';
          break;
        case 'nuevayork':
          hashtags += '#newyork #nuevayork #manhatan #granmanzana #eeuu #usa #nyc';
          break;
        default:
          break;
      }

      this.nonePlace= false;
      switch (this.placeSelected) {
        case 'lastarria':
          hashtags += '#lastarria #barriolastarria ';
          break;
        case 'centro':
          hashtags += '#santiagocentro #elcentro ';
          break;
        case 'providencia':
          hashtags += '#providencia #provi ';
          break;
        case 'metro':
          hashtags += '#metro #metrodesantiago #subway #trensubterraneo ';
          break;
        case 'brokling':
          hashtags += '#brokling #bridge #broklingbridge ';
          break;
        case 'subway':
          hashtags += '#subway #nysubway ';
          break;
        default:
          this.nonePlace= true;
          break;
      }

      comment += "\n.\n.\n.\n.\n.\n.\n.\n.\n.";

      return comment+hashtags;
    }
  }
}
</script>

<style>
*{
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}

html{
  font-size: 16px;
}

.hsg-app{
  background-color:#1e2023;
  min-height: 100vh;
  color: #fff;
}

.title{
  width: 100%;
  text-align: left;
  font-size: 1.8rem;
  min-height: 4rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
}

.container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
}

aside, main{
  /* min-height: calc(100vh - 4rem); */
  overflow-x: scroll;
  /* max-height: calc(100vh - 4rem); */
}

aside{
  width: 100%;
  /* width: 25%; */
  padding: 10px;
  display: flex;
  flex-direction: column-reverse;
}

.for-copy{
  padding: 15px;
  border: 1px solid white;
  border-radius: .5rem;
}

.for-copy span{
  opacity: .5;
  font-size: .8rem;
}

aside .btn-container button{
  color: white;
  background: blue;
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  width: 100%;
}

aside .btn-container button:hover{
  cursor: pointer;
}

.btn-container{
  display: flex;
  justify-content: flex-end;
  padding: 15px 0;
}

main{
  width: 100%;
  /* width: 75%; */
  background-color: #141417;
  border-radius: 1rem 0 0 0;
  padding: 15px 25px;
}

main h2{
  font-size: 1.5rem;
  position: relative;
  display: inline-block;
  margin-bottom: 1.5rem;
}

main h2:after{
  content: '';
  position: absolute;
  background-color: white;
  height: 1px;
  width: 130%;
  bottom: -5px;
  left: 0;
}

.block{
  margin-bottom: 1rem;
}

.option{
  background-color: transparent;
  color: white;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 10px;
  margin-right: 10px;
  margin-bottom: 15px;
  border: 2px solid white;
  outline: none;
}

.option.active{
  background: rgb(0,219,222);
  background: linear-gradient(36deg, rgba(0,219,222,1) 12%, rgba(252,0,255,1) 100%);
  border: 1px solid #141417;
}

@media (min-width: 768px) {
  .container{
    flex-direction:inherit;
  }
  aside, main{
    min-height: calc(100vh - 4rem);
    max-height: calc(100vh - 4rem);
  }
  aside{
    flex-direction: column;
    width: 40%;
  }
  main{
    width: 60%;
  }
}

@media (min-width: 1024px) {
  aside{
    flex-direction: column;
    width: 25%;
  }
  main{
    width: 75%;
  }
}
</style>
